extends layout

title AlwaysOn

block content
  h1 Your friends may be 5,000 miles away, but they are AlwaysOn
  h2 Downloads
  p <a href="https://drive.google.com/file/d/1YtU9V1Nt4bblRJBG0ZuDTF7rEiTWGgXT/view?usp=sharing">Windows</a> <a href="https://drive.google.com/file/d/1BoSSADVz6vIDe7D2eauzovPwUM34zoWl/view?usp=sharing&fbclid=IwAR1rmC_Yr4eNGpxF7TVRdq3FCC8RsGR9Wcw164PnzESexnoXXMyYezfCjiI">Mac</a>
